<section class="subscription">
	<form action="" class="subscription__form">
		<p class="subscription__text">
			Скидка
			<span class="subscription__text--price">
				200 ₽</span>
			при подписке
			<br>
			на рассылку Издательства
		</p>
		<input type="email" class="subscription__input" placeholder="Введите ваш Email">
		<a href="#" class="subscription__btn">Подписаться</a>
	</form>

</section>