<section class="news">
	<div class="news__inner">
		<div class="news__top">
			<h3 class="news__top-title">
				Новости
			</h3>
			<div class="news__top-arrows">
				<button class="news__top-prev">{% include "@assets/svg/books-left.svg" %}</button>
				<button class="news__top-next">{% include "@assets/svg/books-right.svg" %}</button>
			</div>
		</div>
		<div class="news__cards">
			<div class="news__card">
				<img class="news__card-img" src="../img/news-1.png" alt="news">
				<div class="news__card-content">
					<p class="news__card-date">16 июня 2020</p>
					<p class="news__card-name">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
					<p class="news__card-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<a href="#" class="news__card-read">
						Читать
					</a>
				</div>
			</div>
			<div class="news__card">
				<img class="news__card-img" src="../img/news-2.png" alt="news">
				<div class="news__card-content">
					<p class="news__card-date">16 июня 2020</p>
					<p class="news__card-name">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
					<p class="news__card-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<a href="#" class="news__card-read">
						Читать
					</a>
				</div>
			</div>
			<div class="news__card">
				<img class="news__card-img" src="../img/news-3.png" alt="news">
				<div class="news__card-content">
					<p class="news__card-date">16 июня 2020</p>
					<p class="news__card-name">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
					<p class="news__card-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
					<a href="#" class="news__card-read">
						Читать
					</a>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="news__all">Показать все новости</a>
</section>
