<div class="bookofday">
	<div class="bookofday__top">
		<p class="bookofday__title">Книга дня</p>
		<span class="bookofday__timer">08:56:31</span>
	</div>
	<div class="bookofday__inner">
		<img src="../img/bookofday.jpg" alt="bookofday" class="bookofday__img">
		<div class="bookofday__box">
			<p class="bookofday__category">Корпоративное право</p>
			<p class="bookofday__name">Инвестирование: способы, риски, субъекты : монография</p>
			<p class="bookofday__author">Майфат А.В.</p>
			<p class="bookofday__price">4 450 ₽
			</p>
			<div class="bookofday__btns">
				<button class="bookofday__buy">
					{% include "@assets/svg/shopping-active.svg" %}
					В корзину
				</button>
				<button class="bookofday__favorite">
					{% include "@assets/svg/favorites.svg" %}
				</button>
			</div>
		</div>
	</div>
</div>
