.novelty {
    color: #3DC47E;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 5px 10px;
    background-color: #E2F6EC;
    border-radius: 5px;
}