<footer>
	<div class="footer-discount">
		<div class="container">
			<div class="footer-discount__messangers footer-discount__messangers--mobile">
				{% include "@assets/svg/facebook-color.svg" %}
				{% include "@assets/svg/vk-color.svg" %}
				{% include "@assets/svg/instagram-color.svg" %}
			</div>
		</div>
		<div class="footer-discount__bottom">
			<div class="container">
				<form class="footer-discount__form">
					<a href="index.html" class="logo">
						{% include "@assets/svg/logo.svg" %}
					</a>
					<div class="footer-discount__subscribe">
						<input type="text" class="footer-discount__subscribe-input footer-discount__subscribe-input--mobile" placeholder="Подписаться на рассылку">
						<input type="text" class="footer-discount__subscribe-input" placeholder="Введите свой Email и получите скидку">
						<button class="footer-discount__subscribe-btn">
							{% include "@assets/svg/telegram.svg" %}
						</button>
					</div>
					<div class="footer-discount__messangers ">
						{% include "@assets/svg/facebook.svg" %}
						{% include "@assets/svg/instagram.svg" %}
						{% include "@assets/svg/twitter.svg" %}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footer__middle--mobile">
		<nav class="footer__middle-nav--mobile">
			<ul class="footer__middle-list--mobile">
				<li class="footer__middle-item--mobile">
					<a href="#" class="footer__middle-link footer__middle-link--mobile">Покупателям</a>
					{% include "@assets/svg/arrod-down.svg" %}
				</li>
				<li class="footer__middle-item--mobile">
					<a href="#" class="footer__middle-link footer__middle-link--mobile">Издательство</a>
					{% include "@assets/svg/arrod-down.svg" %}
				</li>
				<li class="footer__middle-item--mobile">
					<a href="#" class="footer__middle-link--mobile">Книги</a>
					{% include "@assets/svg/arrod-down.svg" %}
				</li>
				<li class="footer__middle-item--mobile">
					<a href="#" class="footer__middle-link--mobile">Прайс-лист</a>
					{% include "@assets/svg/arrod-down.svg" %}
				</li>
			</ul>
		</nav>
		<div class="footer__requisites--mobile">
			<div class="footer__polytic--mobile">
				<div class="footer__polytic-box--mobile">
					<a href="#" class="footer__polytic-link--mobile">Политика конфиденциальности</a>
					<a href="#" class="footer__polytic-link--mobile">Договор оферты</a>
				</div>
			</div>
			<ul class="footer__requisites-list--mobile">
				<li class="footer__requisites-item--mobile">
					{% include "@assets/svg/phone.svg" %}
					<a href="tel:89686606550" class="footer__requisites-link--mobile">8 (968) 660-65-50</a>
					{% include "@assets/svg/help-phone.svg" %}
				</li>
				<li class="footer__requisites-item--mobile">
					{% include "@assets/svg/email.svg" %}
					<a href="email:market@estatut.ru" class="footer__requisites-link--mobile">market@estatut.ru</a>
				</li>
				<li class="footer__requisites-item--mobile">
					{% include "@assets/svg/city.svg" %}
					<a href='#' class="footer__requisites-link--mobile address">
						ул. Лобачевского, 92, корп. 2 119454, г. Москва
					</a>
				</li>
			</ul>
			<p class="footer__copyright--mobile">© 2020 Издательство «Статут»</p>
		</div>
	</div>
	<div class="footer__middle">
		<div class="container">
			<div class="footer__middle-inner">
				<div class="footer__box">
					<p class="footer__box-title">Покупателям</p>
					<ul class="footer__box-list">
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Наша почта</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Оплата и доставка</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Вопросы и ответы</a>
						</li>
					</ul>
				</div>
				<div class="footer__box">
					<p class="footer__box-title">Издательство</p>
					<ul class="footer__box-list">
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">О компании</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Авторам</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Вакансии</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="footer__box">
					<p class="footer__box-title">Книги</p>
					<ul class="footer__box-list">
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Все категории</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Бестселлеры</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Новинки</a>
						</li>
						<li class="footer__box-item">
							<a href="#" class="footer__box-link">Скидки и акции</a>
						</li>
					</ul>
				</div>
				<div class="footer__box">
					<p class="footer__box-title">Прайс-лист</p>
					<ul class="footer__box-list">
						<li class="footer__box-item">
							<a href="#" class="footer__box-link footer__box-link--pricelist">
								{% include "@assets/svg/file.svg" %}
								<div class="pricelist__box">
									<p class="pricelist__download">Скачать прайс-лист</p>
									<p class="pricelist__size">PDF, 12 Mb</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__box">
					<p class="footer__box-title">Телефон и Email</p>
					<ul class="footer__box-list">
						<li class="footer__box-item">
							<a href="email:market@estatut.ru" class="footer__box-link">
								{% include "@assets/svg/email.svg" %}
								market@estatut.ru
							</a>
						</li>
						<li class="footer__box-item">
							<a href="tel:89686606550" class="footer__box-link">
								{% include "@assets/svg/phone.svg" %}
								8 (968) 660-65-50
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__bottom">
				<p class="footer__bottom-copyright">© 2020 Издательство «Статут»</p>
				<div class="footer__bottom-right">
					<a href="#" class="footer__bottom-right__link">ул. Лобачевского, 92, корп. 2 119454, г. Москва</a>
					<a href="#" class="footer__bottom-right__link footer__bottom-right__link--polytic">Политика конфиденциальности</a>
					<a href="#" class="footer__bottom-right__link">Договор оферты</a>
				</div>
			</div>
		</div>
	</div>
</footer>
