<section class="advantages">
	<div class="advantages__card">
		<img src="../img/time-delivery.png" alt="time-delivery" class="advantages__card-img">
		<img src="../img/time-delivery--mobile.png" alt="time-delivery" class="advantages__card-img--mobile">
		<div class="advantages__card-content">
			<p class="advantages__card-title">Быстрая доставка</p>
			<p class="advantages__card-text">Доставим бесплатно
				<br>
				от 2000 ₽ по всей России</p>
		</div>
	</div>
	<div class="advantages__card">
		<img src="../img/card-payment.png" alt="card-payment" class="advantages__card-img">
		<img src="../img/card-payment--mobile.png" alt="card-payment" class="advantages__card-img--mobile second">
		<div class="advantages__card-content">
			<p class="advantages__card-title">Безопасная оплата</p>
			<p class="advantages__card-text">Плати безопасно и легко онлайн на нашем сайте.</p>
		</div>
	</div>
	<div class="advantages__card">
		<img src="../img/star-bonus.png" alt="star-bonus" class="advantages__card-img">
		<img src="../img/star-bonus--mobile.png" alt="star-bonus" class="advantages__card-img--mobile ">
		<div class="advantages__card-content">
			<p class="advantages__card-title">Бонусная программа</p>
			<p class="advantages__card-text">Дополнительная скидка
				<br>
				15% при регистрации</p>
		</div>
	</div>
	<div class="advantages__card">
		<img src="../img/handbag.png" alt="handbag" class="advantages__card-img">
		<img src="../img/handbag--mobile.png" alt="time-delivery" class="advantages__card-img--mobile second">
		<div class="advantages__card-content">
			<p class="advantages__card-title">Большой выбор</p>
			<p class="advantages__card-text">Ежегодно выходит в свет более 100
				<span>наименований
				</span>книг</p>
		</div>
	</div>
</section>
